@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  background: black;
  --color: #1c1f2b;
  --text-color: #f0f0f0;
  --gradient-1: #ff4545;
  --gradient-2: #00ff99;
  --gradient-3: #006aff;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 600;
}

body {
  background: var(--color-background);
  color: var(--text-color);
  font-weight: 400;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  min-height: 420px;
  padding: 2em;
  width: 300px;
  background: var(--color);
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    var(--gradient-1),
    var(--gradient-2),
    var(--gradient-3),
    var(--gradient-1)
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
}

.card::before {
  filter: blur(1.5rem);
  opacity: 0.8;
}

.card p {
  margin-top: 2em;
}
